{% macro render_params(params) %}
  {% for k, v in params.items() %}
    {{ k + '=' + repr(v) }},
  {% endfor %}
{% endmacro %}

| from tensorflow.keras.models import Sequential
{% for layer_type in layer_types %}
| from tensorflow.keras.layers import {{ layer_type }}
{% endfor %}
|
| def init_model():
  < model = Sequential()
  {% for layer in model.layers %}
    | model.add( {{layer.type}}( {{render_params(layer.params | default({}))}} ))
  {% endfor %}
  | return model
 >
