| model = {{repr(model)}}
|
| train_data_path = 'train'
|
| use_generator_fit = {{repr(model.input.type == 'images')}}
|
{% if model.input.type in ['images', 'builtin_dataset'] %}
  | input_shape = ({{ (model.input.dimensions + [model.input.channels,]) | join(',') }})
{% elif model.input.type == 'csv' %}
  | input_shape = ({{ model.input.features|length }},)
{% else %}
  | input_shape = ('wow such shape',)
{% endif %}
