| model = {{repr(model)}}
|
| train_data_path = 'train'
|
| use_generator_fit = {{repr(model.input.type == 'images')}}
|
| input_shape = ({{ (model.input.dimensions + [model.input.channels,]) | join(',') }})
