| import ng_config
|
| class NeurogenIO:
  < def __init__(self, ng_bus):
    < self.ng_bus = ng_bus
    >
  | # Returns list of CLI vars
  | def get_vars(self):
    < return ['train_test_ratio']
    >
  | def preprocess(self, X, y, sample_count):
    < X = X.reshape(X.shape[0], *ng_config.input_shape)
    | X = X.astype('float32')
    | X /= 255
    | if sample_count:
      < X = X[:sample_count]
      | if y is not None:
        < y = y[:sample_count]
        >
      >
    | return X, y
    >
  | def read_train_data(self, sample_count):
    < {% if model.input.type == 'builtin_dataset' %}
        | from tensorflow.keras.datasets import {{model.input.dataset}}
        | data = {{model.input.dataset}}.load_data()
        | data = (self.preprocess(*data[0], sample_count), self.preprocess(*data[1], None))
        | return data
      {% elif model.input.type == 'images' %}
        | import util
        | input_dir = ng_config.train_data_path
        | data = util.read_train_val_images(input_dir, 1/255)
        | data = (self.preprocess(*data[0], sample_count), self.preprocess(*data[1], None))
        | return data
      {% elif model.input.type == 'csv' %}
        | import util
        | input_file = ng_config.train_data_path
        | data = util.read_csv(input_file)
        | return data
      {% endif %}
    >
  | def read_eval_data(self, filenames):
    < {% if model.input.type in ['builtin_dataset', 'images'] %}
        | import util
        | input_dir = ng_config.train_data_path
        | data = util.load_images(filenames)
        | data, _ = self.preprocess(data, None, None)
        | return data
      {% elif model.input.type == 'csv' %}
        | import util
        | input_file = ng_config.train_data_path
        | data = util.read_csv(input_file)
        | return data
      {% endif %}
    >
  >
